<current_context>
<reference book="{{ book }}" chapter="{{ chapter }}"{% if verse %} verse="{{ verse }}"{% endif %} translation="{{ bible_id }}">
{{ chapter_content }}
{% if verse %}
<!-- NOTE: Focus specifically on verse {{ verse }} when generating questions -->
{% endif %}
</reference>
</current_context>

{% if preferred_language %}
<user_language>
<language_code>{{ preferred_language.code }}</language_code>
<language_name>{{ preferred_language.name }}</language_name>
</user_language>
{% endif %}

{% if profile %}
<user_profile>
<profile_name>{{ profile.name }}</profile_name>
<profile_description>{{ profile.description }}</profile_description>
<profile_instructions>{{ profile.instructions }}</profile_instructions>
</user_profile>
{% endif %}

{% if reading_plan_step %}
<reading_plan_context>
<plan_name>{{ reading_plan_step.plan_name }}</plan_name>
<plan_description>{{ reading_plan_step.plan_description }}</plan_description>
<current_step step_order="{{ reading_plan_step.step_order }}">
<verse_range>{{ reading_plan_step.verse_range }}</verse_range>
<step_title>{{ reading_plan_step.title }}</step_title>
<theme>{{ reading_plan_step.theme }}</theme>
</current_step>
</reading_plan_context>
{% endif %}

<user_history>
{% if user_history and user_history|length > 0 %}
{% for question in user_history %}
<question book_id="{{ question.book_id }}" chapter="{{ question.chapter }}">
{{ question.content }}
</question>
{% endfor %}
{% else %}
<!-- No previous questions from this user -->
{% endif %}
</user_history> 